html {
  scroll-behavior: smooth;
}

a:link{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  max-height: fit-content;
  box-sizing: border-box;
  width: 100%;
  background-color:rgb(5, 55, 75);
  overflow-x: hidden;

}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex: 0 0 auto;
  overflow: hidden;
  width: 100%;
}

 .div {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 97px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

 .intro {
  position: relative;
  width: 100%;
  padding-top: 5px;
  display: flex;
  align-items: flex-start;
  flex: 0 0 auto;
  vertical-align: baseline;
  margin-top: 50px;
}

/*.homepage .HP {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 1%;
  left: 0;
  display: flex;
}*/

 .overlap-group {
  position: relative;
  width: 100%;
  float: right;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

 .headerText {
  flex-direction: row;
  position: relative;
  max-width: 100%;
  display: inline-flex;
  scroll-margin-top: 90px;
}

 .header {
  align-items: flex-start;
  position: relative;
  vertical-align: baseline;
  display: inline-flex;
  width: 100%;
  margin: 12px;
}

 .title {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  max-height: fit-content;
  font-family: var(--heading-XL-h2-font-family);
  font-weight: var(--heading-XL-h2-font-weight);
  color: white;
  font-size: var(--heading-XL-h2-font-size);
  letter-spacing: var(--heading-XL-h2-letter-spacing);
  line-height: var(--heading-XL-h2-line-height);
  font-style: var(--heading-XL-h2-font-style);

  /*  
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

 .textblock {
align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
  margin-top: 10px;

}
 .column {
  max-height: 35%;
  align-items: flex-start;
  flex-direction: column; 
  position: relative;
  padding: 15px;
  display: inline-flex;
}
 .column2 {
  max-height: 65%;
  align-items: flex-start;
  flex-direction: column; 
  position: relative;
  padding: 15px;
  display: inline-flex;
 }
  .column3 {
  max-height: 33.3%;
  align-items: flex-start;
  flex-direction: column; 
  position: relative;
  padding: 15px;
  display: inline-flex;
}

 .imgAny {
  position: relative;
  max-width: 100%;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
}

 .absatz {
  position: relative;
  width: 80%;
  padding: 12px 0;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: #dedede;
  font-size: var(--absatz-font-size);
  letter-spacing: var(--absatz-letter-spacing);
  font-style: var(--absatz-font-style);
  text-decoration: none;
}


 .introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
  padding: 0 0 0 15px;
  
}

 .text {
  position: relative;
  align-self: flex-start;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: #e9e0e0;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  font-style: var(--heading-h1-font-style);
  margin-top: 0;
  margin-bottom: 0;
}
/*
.homepage .span {
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: #e9e0e0;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  font-style: var(--heading-h1-font-style);
  line-height: var(--heading-h1-line-height);
}*/

 .icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-items: center; 
}

 .img {
  position: relative;
  width: 60px;
  height: 60px;
}
 .img2 {
  position: relative;
  width: 30%;

}
.gimmeSomeSpace{
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

 .icons-mail {
  margin-right: -13px;
  position: relative;
  width: 50px;
  height: 50px;
}

 .button {
  all: unset;
  box-sizing: border-box;
  width: fit-content;
  display: inline-flex;
  height: 49px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  border-radius: 40px;
  border: 1px solid;
  border-color: var(--schrift-1);
  text-decoration: none;
  
  
}

 .button-label {
  position: relative;
  width: fit-content;
  margin-top: -6.5px;
  margin-bottom: -0.5px;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: var(--schrift-1);
  font-size: var(--absatz-font-size);
  letter-spacing: var(--absatz-letter-spacing);
  line-height: var(--absatz-line-height);
  white-space: nowrap;
  font-style: var(--absatz-font-style);
}

/*homepage .balken {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*.homepage .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--x-6f-47-8d);
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}*/

 .the-menu {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #af2ad4;
  /*overflow-x: auto; 
  //overflow-y: hidden; */
  scroll-margin-top: 90px;
  padding: 15px;

}

/*.homepage .overlap-2 {
  position: relative;
  width: 100%;
  height: fit-content;
}*/

 .container {
  width: 100%;
  gap: 56px;
  position: relative;
  display: flex;
  align-items: flex-start;
}


 .container-2 {
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 30%;
  display: flex;
  align-items: flex-start;
}


 .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  padding: 0 0 15px 0;
  margin-top: -1px;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: white;
  font-size: var(--absatz-font-size);
  letter-spacing: var(--absatz-letter-spacing);
  line-height: var(--absatz-line-height);
  font-style: var(--absatz-font-style);
}

 .group-4 {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;

}

 .frame-3 {
  display: flex;
  cursor: grab;
  align-items: flex-start;
  gap: 44px;
  position: relative;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden; 
  max-width: 100%;
}

.frame-3::-webkit-scrollbar {
  display: none;
}

 .process {
  width: 413px;
  position: relative;
  height: 284px;
  object-fit: contain;
  background-color: #cfedee;

}

 .container-3 {
  flex-direction: column;
  width: 408px;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}

 .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-h3-font-family);
  font-weight: var(--heading-h3-font-weight);
  color: #e6e6e6;
  font-size: var(--heading-h3-font-size);
  letter-spacing: var(--heading-h3-letter-spacing);
  line-height: var(--heading-h3-line-height);
  font-style: var(--heading-h3-font-style);
}

 .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--paragraph-font-family);
  font-weight: var(--paragraph-font-weight);
  color: var(--schrift-1);
  font-size: 16px;
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
  font-style: var(--paragraph-font-style);
}

 .text-wrapper-7 {
  left: 13px;
  position: absolute;
  top: 9px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: #ffffff;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: normal;
  font-style: var(--heading-h1-font-style);
}

 .process-2 {
  width: 414px;
  position: relative;
  height: 284px;
  object-fit: contain;
  background-color: #c9c9c969;
}

 .text-wrapper-8 {
  left: 10px;
  position: absolute;
  top: 9px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: #ffffff;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

 .element {
  position: relative;
  width: 410px;
  height: 290px;
  object-fit: cover;
}

 .text-wrapper-9 {
  left: 18px;
  position: absolute;
  top: 9px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: #ffffff;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

 .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

 .projects {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 5px;
  position: relative;
  flex-wrap: wrap;
  margin: 12px;
  justify-content: center;

}

 .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
  padding: 12px;

}

 .projectcard {
  background: linear-gradient(180deg, rgb(143, 0, 255) 0%, rgb(205, 108, 186) 100%);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: fit-content;
  align-items: flex-start;
  padding: 32px;
  position: relative;
  border-radius: 40px;
  justify-content: space-between;
}

 .projectcard2{
  position: relative;
  left: 50%;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%) translateZ(0);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/*bild*/
 .projectcard2 .thumb {
  width: auto;
  height: 260px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 3px;
}

 .projectcard2 .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #ffffffc4;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
 .projectcard2 .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}

 .projectcard2 .infos .sparte{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
}

 .projectcard2 .infos .txt {
  font-family: var(--paragraph-font-family);
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
 .projectcard2 .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-family: "Grotesque Black", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
 .projectcard2:hover .infos {
  transform: translateY(-260px);
}
 .projectcard2:hover .infos .seats,
 .projectcard2:hover .infos .txt,
 .projectcard2:hover .infos .details {
  opacity: 1;
}

 .overlap-group-wrapper {
  position: relative;
  width: 546px;
  height: 306px;
}

 .overlap-group-2 {
  position: relative;
  height: 306px;
}

 .rectangle {
  position: absolute;
  width: 540px;
  height: 298px;
  top: 0;
  left: -3px;
  border-radius: 40px;
  border: 5px solid;
  border-color: var(--schrift-1);

}

.image { 
  height: 100%;
  width: 100%;
  object-fit: cover;
 
}
.skillStars { 
  width: 20%;
  padding: 10px;

}

 .img-2 {
  position: absolute;
  top: 0;
  left: 6px;
  object-fit:cover;
  border-radius: 40px;
  width: 100%;
  height: auto;

}

 .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 250px;
  align-items: flex-start;
  padding: 0 0 24px 0;
  position: relative;
}

 .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--schrift-1);
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

 .text-wrapper-13-dunkel{
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color:  #8e0890;
  font-size: var(--heading-h1-font-size);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}
 .sparte {
  position: relative;
  width: fit-content;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: var(--schrift-1);
  font-size: var(--absatz-font-size);
  letter-spacing: var(--absatz-letter-spacing);
  line-height: var(--absatz-line-height);
  white-space: nowrap;
  font-style: var(--absatz-font-style);
}

 .projektbeschreibung {
  position: relative;
  width: 100%;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: var(--schrift-1);
  font-size: var(--absatz-font-size);
  letter-spacing: var(--absatz-letter-spacing);
  line-height: var(--paragraph-line-height);
  font-style: var(--absatz-font-style);
}

 .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 260px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  position: relative;
  border-radius: 40px;
  border: 1px solid;
  border-color:  #43576d;
  text-decoration: none;
  
}

 .button-label-2 {
  font-size: var(--heading-h1-font-size);
  position: relative;
  width: fit-content;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color:  #152536;
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
  text-decoration: none;
  }


 .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -6px;
}

 .group-5 {
  position: relative;
  width: 528px;
  height: 306px;
  background-image: url(./img/screenshotwasserbeides-1-2.png);
  background-size: 100% 100%;
}

 .titlePurple {
  scroll-margin-top: 90px;
  position: relative;

  width: 100%;
  padding: 0 0 61px 61px;
  font-family: var(--heading-XL-h2-font-family);
  font-weight: var(--heading-XL-h2-font-weight);
  color: #ffffff;
  font-size: var(--heading-XL-h2-font-size);
  letter-spacing: var(--heading-XL-h2-letter-spacing);
  line-height: var(--heading-XL-h2-line-height);
  font-style: var(--heading-XL-h2-font-style);
 
}


.nav {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;  
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
  position: fixed;
  background-color:#ffffff5e ; 
  backdrop-filter: blur(10px);
  top: 0;
}

.left {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  position: relative;
  flex: 0 0 auto;
}

 .text-wrapper-15 {
  position: relative;
  width: 78px;
  height: 28px;
  margin-top: -1px;
  font-family: "Arial-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  padding-left: 12px;
  text-decoration: none;
}
 /* nav*/
.navbar, .languageswitch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  flex: 0 0 auto;
  text-decoration: none;
}
 /*text nav-*/
 .text-wrapper-16 , .languageswitch {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: rgb(44, 43, 43);
  font-size: 16;
  letter-spacing: var(--absatz-letter-spacing);
  line-height: var(--absatz-line-height);
  white-space: nowrap;
  font-style: var(--absatz-font-style);
  text-decoration: none;
}
 /*kontakt-button-*/
 .right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}
 /*kontakt-button-*/
 .contact-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #d8dde45d;
  border-radius: 8px;
  margin: 12px;
}
 /* Navigation links */
 .navbar a, .languageswitch{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  border: none;
  outline: none;
  font-family: "Arial-Black", Helvetica;
  color: rgb(44, 43, 43);
  font-size: 16px;
  padding: 12px 16px;
  background-color: inherit;
  margin: 0;
}

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;

    width: 800px;
    z-index: 1;
  }
 /*kontakt-txt-*/
 .contact {
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  width: fit-content;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .know-more {
  scroll-margin-top: 90px;
  position: relative;
  height: fit-content;
  padding: 28px;
  background: linear-gradient(180deg, rgba(143, 0, 255, 0) 0%, rgb(143, 0, 255) 98.5%);
}

 .group-6 {
  
  position: relative;
  max-width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction:column;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 20px
}

.homepage .overlap-group-3 {
  position: relative;
  height: fit-content;
}

.homepage .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;

}

.homepage .frame-10 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-11 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .ellipse {
  position: relative;
  width: 124px;
  height: 124px;
  background-color: #d9d9d9;
  border-radius: 62px;
}

.homepage .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

 .group-7 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;;
}

.homepage .text-wrapper-17 {
  position: relative;
  max-width: 35%;
  height: fit-content;
  top: 0;
  left: 0;
  font-family: var(--absatz-font-family);
  font-weight: var(--absatz-font-weight);
  color: var(--schrift-1);
  font-size: var(--absatz-font-size);
  letter-spacing: var(--absatz-letter-spacing);
  line-height: var(--absatz-line-height);
  font-style: var(--absatz-font-style);

}

.homepage .button-4 {
  display: inline-flex;
  height: 49px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: var(--purple);
  border-radius: 40px;
  border: 3px solid;
  border-color: var(--schrift-1);
  text-decoration: none; 
}

.titleLila{
  position: relative;
  width: 100%;
  font-family: var(--heading-XL-h2-font-family);
  font-weight: var(--heading-XL-h2-font-weight);
  color: white;
  font-size: var(--heading-XL-h2-font-size);
  letter-spacing: var(--heading-XL-h2-letter-spacing);
  line-height: var(--heading-XL-h2-line-height);
  font-style: var(--heading-XL-h2-font-style);
  scroll-margin-top: 90px;
}

.contact-2 {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px;
}

 .container-4 {
  flex-direction: column;
  width: 20%;
  gap: 80px;
  position: relative;
  display: flex;
  align-items: flex-start;
}

 .text-wrapper-20 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-XL-h2-font-family);
  font-weight: var(--heading-XL-h2-font-weight);
  color: var(--x-6f-47-8d);
  font-size: var(--heading-XL-h2-font-size);
  letter-spacing: var(--heading-XL-h2-letter-spacing);
  line-height: var(--heading-XL-h2-line-height);
  font-style: var(--heading-XL-h2-font-style);
  text-decoration: none; 
}

 .button-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 329px;
  height: 82px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 296px;
  left: 962px;
  border-radius: 5px;
  border: 3px solid;
  border-color: var(--schrift-1);
}
.about.skills{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;

}
/*.about .skillset .skilltext{
position: relative;
width: 100%;
display: flex;
align-items: center;
font-family: var(--heading-h3-font-family);
font-weight: var(--heading-h3-font-weight);
color: black;
font-size: var(--heading-h3-font-size);
letter-spacing: var(--heading-h3-letter-spacing);
line-height: var(--heading-h3-line-height);
font-style: var(--heading-h3-font-style);
text-decoration: none; 

}*/
 .skillset{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  margin-top: 100px;
  scroll-margin-top:  100vh;
}

 .button-label-3 {
  margin-top: -9px;
  margin-bottom: -3px;
  font-size: var(--heading-XL-h2-font-size);
  position: relative;
  width: fit-content;
  font-family: var(--heading-XL-h2-font-family);
  font-weight: var(--heading-XL-h2-font-weight);
  color: var(--schrift-1);
  letter-spacing: var(--heading-XL-h2-letter-spacing);
  line-height: var(--heading-XL-h2-line-height);
  white-space: nowrap;
  font-style: var(--heading-XL-h2-font-style);
  text-decoration: none; 
}

 .frame-13 {
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
 .frame-54 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  padding: 12px 48px;
  max-width: 100%;
  margin-bottom: 20px;

}
.columnSkills {
  width: 50%;
  align-items: flex-start;
  flex-direction: column; 
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  padding-right: 50px;
  margin-right: 25px;
}


.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
}
/* ------------------- Projektpage-------------*/

.projektpage {
  align-items: flex-end;
  width: 100%;
  flex-direction: column;
  gap: 84px;
  justify-content: center;
  flex: 0 0 auto;
  overflow: hidden;
margin-top: 100px;
}
/* ------------------- FOOTER-------------*/


.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*GALLERIES*/
.container4galleries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 100px 20px 0 20px;
  width: auto;
}

.video iframe{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 10px;
}

.animations .column {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 48.75%;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}
.box .column { 
  display: flex;
  flex-direction: column;
  width: 32.5%;
  padding: 10px;
  align-items: center;
}
.box .column img { 
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
.box .column2 img { 
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
  
}
.box .column2 { 
  display: flex;
  flex-direction: column;
  width: 48.75%;
  align-items: center;
  padding: 15px;
}
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 10px;
  height: 0;
  overflow: hidden;

}
/*---------------*/



/*resizing für verschiedene grössen*/
@media (max-width: 670px) {
 .projects {
  flex-direction: column;
 } 
 .headerText {
  flex-direction: column;
 }
 .column2 {
  flex-basis: 70%;
 }
 .frame-54 {
  flex-direction: column;
    padding: 4px;
 }
  
 .frame-9{
  flex-direction: column;
  
}
  .title{
  font-size: 25px;

}
 .absatz {
  font-size: 24px;
  width: 100%;
}
 .button-4{
  height: 16px;
}
 .button-label{
  font-size: 20px;
}
 .button-2{
  height: 20px;
  width: fit-content;

}
 .button-label-2{
  font-size: 20px;
}
 .titleLila{
  padding: 0 12px;
  font-size: 25px;
}
 .skillset{
  padding: 0;
  font-size: 28px;
}
 .titlePurple{
  
  font-size: 25px;
}

/*.homepage .nav
{
  display: none;
}*/
.about .gimmeSomeSpace{
  padding-left: 28px;
}
}

@media (max-width: 900px) {
   .navbar
  {
    gap: 16px;
  }
  .left
  {
    gap: 24px;
  }
/*  .text-wrapper-15
{
  display: none;
}*/
 .right
{
  display: none;
}
 .gimmeSomeSpace{
  padding-left: 28px;
}
.skillset{

  padding: 4px;

}
.frame-54{

  padding: 4px;

}
 .projectcard{

  max-width: 50%;

}
 .frame-8{

width: 50%;
}
 .frame-6{
padding-bottom: 32px;
  }
  
 .frame-wrapper{
padding: 0 0 40px 0;
height: fit-content;
  }
  
 .rectangle{

  width: 304px;
  height: 240px;
  
  }
 .overlap-group-wrapper{

  height: 240px;
  
}
 .projektbeschreibung{

  font-size: 20px;
  
}

}